<header id="header">
	<div class="wrap cf">
	<a id="logo" href="/">
		<%= inline_svg 'bde-logo-m.svg', class: 'bde-logo-m' %>
		<%= inline_svg 'bde-logo.svg', class: 'bde-logo' %>
	</a>
	<div id="nav-container">
		<div id="navToggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
		<nav id="main-nav" class="nav-collapse">
			<ul>
				<li class="<%= is_active?('/points') %>"><a href="/dashboard">My Points</a></li>
				<li class="<%= is_active?('/rankings') %>"><a href="/rankings">Rankings</a></li>
				<li class="<%= is_active?('/info') %>"><a href="/info">Info</a></li>
				<li class="<%= is_active?('/account') %>"><a href="/account">Account</a></li>
				<li><a href="/datapoints/new">Log Points</a></li>
				<li><a href="/challenges/">Challenges</a>
			</ul>
		</nav>
	</div>
	</div>
</header>