<header id="header" class="cf">
	<a id="logo" href="/">
		<%= inline_svg 'bde-logo-m.svg', class: 'bde-logo-m' %>
		<%= inline_svg 'bde-logo.svg', class: 'bde-logo' %>
	</a>
	<div id="nav-container">
		<div id="navToggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
		<nav id="main-nav" class="nav-collapse">
			<ul>
				<li class="<%= is_active?('/points') %>"><a href="">My Points</a></li>
				<li class="<%= is_active?('/rankings') %>"><a href="">Rankings</a></li>
				<li class="<%= is_active?('/info') %>"><a href="">Info</a></li>
				<li class="<%= is_active?('/account') %>"><a href="">Account</a></li>
				<li><a href="">Log Points</a></li>
			</ul>
		</nav>
	</div>
</header>