<header id="header">
	<div class="wrap cf">
	<a id="logo" href="/">
		<%= inline_svg 'bde-logo-m.svg', class: 'bde-logo-m' %>
		<%= inline_svg 'bde-logo.svg', class: 'bde-logo' %>
	</a>
	<% if user_signed_in? %>
	<div id="nav-container">
		<div id="navToggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
		<nav id="main-nav" class="nav-collapse">
			<ul>
				<li class="<%= is_active?('/dashboard') %>"><a href="/dashboard">My Points</a></li>
				<li class="<%= is_active?('/rankings') %>"><a href="/rankings">Rankings</a></li>
				<li class="<%= is_active?('/users/edit') %>"><a href="/users/edit">Account</a></li>
				<li class="<%= is_active?('/challenges') %>"><a href="/challenges/">Challenges</a>
				<% if user_signed_in? %>
				  <li class="logout">
				  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				  </li>
				<% else %>
				  <li class="login">
				  <%= link_to('Login', new_user_session_path)  %>  
				  </li>
				<% end %>
			</ul>
		</nav>
	</div>
	<% end %>
	</div>
</header>