<%= form_for(datapoint) do |f| %>
  <% if datapoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datapoint.errors.count, "error") %> prohibited this datapoint from being saved:</h2>

      <ul>
      <% datapoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field hide">
    <%= f.collection_select :user_id, User.all, :id, :email %>
    </div>
    <div class="field hide">
    <%= f.collection_select :challenge_id, Challenge.all, :id, :name %>
    </div>
    <div class="field">
    <%= f.check_box(:data_0) %>
    <%= f.label(:data_0, 'No Sugar') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_1) %>
    <%= f.label(:data_1, 'No Alcohol') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_2) %>
    <%= f.label(:data_2, 'Ancient Grains Only') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_3) %>
    <%= f.label(:data_3, '20 Minutes Movement') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_4) %>
    <%= f.label(:data_4, 'Mindfulness') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_5) %>
    <%= f.label(:data_5, 'Daily Interaction') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_6) %>
    <%= f.label(:data_6, 'Light Dairy') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_7) %>
    <%= f.label(:data_7, 'Sleep') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_8) %>
    <%= f.label(:data_8, 'Fish Oil/Vit D') %>
    </div>
    <div class="field">
    <%= f.check_box(:data_9) %>
    <%= f.label(:data_9, 'Hydration') %>
    </div>
    <div class="field">
    <%= f.submit "Save", :class => "btn" %>
    <a href="/" class="btn">Cancel</a>
    </div>
  </div>
<% end %>
