<% title 'Dashboard' %>

<div id="content">
<div class="wrap">

	<% if @current_challenge %>

	<h4 class="banner"><%= @current_challenge.name %> – <%= @stat.total_points %> Points – Ranked #<%= @stat.rank %></h4>
	<h4><%= @current_challenge.start_date.strftime("%b %d") %> - <%= @current_challenge.end_date.strftime("%b %d") %></h4>
	<table id="datapoint_list">
		<thead>
			<tr>
				<th></th>
				<th><div><span>Points</span></div></th>
				<th><div><span>No Sugar</span></div></th>
				<th><div><span>No Alcohol</span></div></th>
				<th><div><span>Ancient Grains</span></div></th>
				<th><div><span>20 Min Movement</span></div></th>
				<th><div><span>Healthy Fats</span></div></th>
				<th><div><span>Daily Interaction</span></div></th>
				<th><div><span>Light Dairy</span></div></th>
				<th><div><span>Sleep</span></div></th>
				<th><div><span>Vitamin D</span></div></th>
				<th><div><span>Hydration</span></div></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @datapoint_list.each do |d| %>
			<tr<% if d.date == Date.today %> class="today"<% end %>>
				<td>Day <%= d.day %></td>
				<td><%= d.total_points %></td>
				<td><% if d.data_0 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_1 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_2 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_3 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_4 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_5 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_6 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_7 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_8 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><% if d.data_9 == true %><i class="fa fa-circle" aria-hidden="true"></i><% else %> <% end %></td>
				<td><%= link_to 'Edit', edit_datapoint_path(d) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<% else %>

	<h2>It Looks Like We Haven't Added  You to the Challenge Yet</h2>
	<p>When we get close to the beginning of the Challenge, we will add the users who have purchased the challenge. Stay tuned, and let us know if you have any questions.</p>
	<h4>Need to Purchase a Challenge?</h4>
	<p>If you have not yet purchased a challenge, you can do so here:</p>
	<a class="btn" href="http://bestdayever.com">Purchase Challenge</a>

	<% end %>

</div>
</div>