<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="The Best Day Ever App allows users to easily track their points during Best Day Ever Challenges">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="BestDayEver">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    // <picture> polyfill
      document.createElement('picture');
  </script>
  <script src="https://use.typekit.net/koi5gbj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/a903f74486.js"></script>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  <%- if Rails.env.production? -%>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-0000000-1', 'auto');
  <%- else -%>
    function ga() { console.log("Google Analytics"); }
  <%- end -%>
</script>
<div id="container">
  <%= render 'shared/header' %>
  <div id="flash" class="wrap text-center">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  </div>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>